body{
    height: 200vh;
}

header{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    background: white;
    color: #666;
    position: fixed;
    top : 0;
    z-index: 2;
}

.h-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.imgBox{
    width: 100px;
    height: 100%;
}
.imgBox > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h2-container{
    display: flex;
    gap: 50px;
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 20px;
    font-weight: bold;
    cursor: pointer;
}

.menu > span{
    height: 50%;
    width: fit-content;
    border-radius: 10px;
    padding-inline: 5px;
    transition: all 0.2s;
    padding-top: 10px;
}

.menu > span:hover{
    background-color: #ddd;
    color: black;
}

.text{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.text > hr{
    height: 50%;
}


main{
    width: 100vw;
    height: 100vh;
    background-image: url('https://static.toss.im/assets/homepage/newtossim/new_main.png');
    background-size: cover;
    position: relative;
}

.title {
    position: absolute;
    top: 200px;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    gap: 20px;
}

.store{
    display: flex;
    width: 50%;
    height: 40px;
    justify-content: center;
    gap: 10px;
    font-size: large;
    color: white;
    font-weight: bold;

    margin-top: 30px;
}

.store > div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
    background: #000000b7;
    align-items: center;
    padding-inline: 15px;
    cursor: pointer;
}

.arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #777;
    font-size: xx-large;
    animation: active 2s infinite;
}

@keyframes active {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-10px);
    }
}